* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
span:focus,
label:focus,
input:focus,
a:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:focus, a:active, a:hover {
  color: #000;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #999;
  opacity: 1;
}

* {
  font-family: "Roboto";
}

.author-book {
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 400;
}

.books-container {
  margin-top: 65px;
  width: 163px;
}

.button-filter {
  background: #BED23C;
  width: 38px;
}

.books-image {
  height: 182px;
  max-height: 100%;
  vertical-align: middle;
  width: 100%;
}

.book-info {
  margin: 11px auto;
  width: 128px;
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.container {
  height: calc(100vh - 80px);
  margin: 0 auto;
  width: 722px;
}

.filter {
  background-color: #F4F4F4;
  font-style: italic;
  font-weight: lighter;
  font-size: 14px;
  height: 38px;
  padding: 0 12px;
  width: 238px;
}

.filter-container {
  display: flex;
  margin-top: 65px;
}

.image-container {
  background-color: #d8d8d8;
  display: block;
  margin: 0 auto;
  width: 128px;
}

.icon-search {
  color: #FFF;
  font-size: 20px;
}

.image-default {
  display: block;
  height: 182px;
  margin: 0 auto;
  width: 70%;
}

.filter-select {
  background-color: transparent;
  color: #9b9b9b;
}

.select-container {
  background-color: #F4F4F4;
  background-image: url(../assets/arrow-down.png);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 15px;
  margin-right: 20px;
}

.title-book {
  font-size: 14px;
  font-weight: bold;
}

.add-comment {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.btn-form {
  background: #BED23C;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  height: 38px;
  margin-top: 15px;
  width: 192px;
}

.btn-rent {
  background: #00adee;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  padding: 7px 0;
  width: 192px;
}

.button-back {
  color: #4a4a4a;
  font-size: 12px;
  left: 35px;
  position: absolute;
  top: 35px;
}

.comment-content {
  color: #999999;
}

.comment-date {
  color: #4a4a4a;
  font-size: 12px;
  margin-bottom: 10px;
}

.coment-inputs {
  display: flex;
  justify-content: space-around;
  margin: 22px 0 0 33px;
}

.comment-list {
  margin-top: 25px;
}

.container-comments {
  margin: 40px 0;
}

.container-detail {
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  width: 800px;
}

.container-form {
  width: 667px;
}

.container-images {
  background: #d8d8d8;
  height: 124px;
  margin-left: 50px;
  width: 87px;
}

.container-info {
  display: flex;
  padding-bottom: 36px;
  margin-top: 100px;
}

.container-sugestions {
  border-bottom: 1px solid #00adee;
  border-top: 1px solid #00adee;
  padding: 31px 0;
}

.default {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 111px;
}

.description {
  color: #999999;
  font-size: 14px;
}

.image {
  height: 100%;
  width: 100%;
}

.image-detail {
  background-color: #d8d8d8;
  height: 272px;
  min-width: 192px;
  width: 192px;
}

.image-form {
  background-color: #d8d8d8;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.images-sugestions {
  display: flex;
  margin-top: 16px;
}

.image-sugestion {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 60px;
}

.info {
  color: #4a4a4a;
  font-size: 16px;
}

.info-detail {
  display: flex;
  flex-direction: column;
  height: 272px;
  justify-content: space-between;
  margin-left: 20px;
}

.input-form {
  border: 1px solid #4a4a4a;
  height: 75px;
  margin-top: 15px;
  max-width: 100%;
  padding: 10px;
  width: 100%;
}

.text-info {
  display: block;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.title-sugestions {
  font-size: 20px;
  color: #BED23C;
  font-weight: bold;
}

/*# sourceMappingURL=app.css.map */
