.btn-form {
  align-self: center;
  background-color: #00adee;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  height: 38px;
  margin-top: 60px;
  text-align: center;
  width: 178px;
}

.error-container {
  height: 20px;
}

.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 700px;
  margin: 0 auto;
  padding: 0 77px;
  width: 700px;
}

.form-container {
  align-items: center;
  background: #5656563d;
  display: flex;
  height: 100vh;
  width: 100%;
}

.input {
  background-color: #f4f4f4;
  color: #9b9b9b;
  font-style: italic;
  font-size: 14px;
  height: 38px;
  padding: 10px;
}

.icon-signup{
  align-self: center;
  color: #a5cd39;
  font-size: 40px;
  margin-top: 38px;
}

.input
.ng-invalid
.ng-touched {
  border: 1px solid red;
}

.label {
  color: #4a4a4a;
  font-size: 12px;
  margin: 20px 0 10px;
}

.text-error {
  color: red;
  font-size: 10px;
}

.title-form {
  align-self: center;
  color: #4a4a4a;
  font-size: 20px;
  font-weight: bold;
  margin: 28px 0;
}
