$detail-grey: #4a4a4a;
$detail-black: #000;
$detail-green: #BED23C;
$detail-blue : #00adee;
$color-white: #FFF;
$image-container: #d8d8d8;
$background-input: #F4F4F4;
$input-color: #9b9b9b;
$detail-description: #999;
