$detail-grey: #4A4A4A;
$detail-black: #000;
$detail-green: #BED23C;
$detail-blue : #00ADEE;
$color-white: #FFF;
$image-container: #D8D8D8;
$background-input: #F4F4F4;
$input-color: #9B9B9B;
$detail-description: #999;
$detail-red: #FF0000;
$backgroud-auth: #000000B3;
