<div class="container">
  <div class="filter-container">
    <div class="select-container">
      <select class="filter-select filter" ng-model="filter" ng-options="item.key for item in $ctrl.params track by item.value" >
        <option value="">Selecione el filtro...</option>
      </select>
    </div>
    <input class="filter" ng-model="query" placeholder="Buscar..."/>
    <button class="button-filter"><i class="fas fa-search icon-search"></i></button>
  </div>
  <ul class="books-list">
    <li ng-repeat="book in $ctrl.books | filter: $ctrl.getFilter()" class="books-container">
      <a ui-sref="detailState({ bookId: book.id })">
        <div class="image-container">
          <img alt="min-book-image" ng-src="{{book.image_url ? book.image_url : $ctrl.imageUrl}}" alt="{{book.title}}" ng-class="book.image_url  ? 'books-image' : 'image-default'"/>
        </div>
        <div class="book-info">
          <p class="title-book">{{book.title}}</p>
          <span class="author-book">{{book.author}}</span>
        </div>
      </a>
    </li>
  </ul>
</div>
